name: Metrics

on:
  schedule:
    # Runs every 6 hours
    - cron: '0 */6 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: JSONbored
          template: classic
          base: header, activity, repositories, metadata
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6
          plugin_languages_ignored: html,css,scss,less,stylus
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_repositories: yes
          plugin_repositories_limit: 8
          plugin_repositories_order: stars
          plugin_repositories_sort: stars
          config_timezone: America/New_York
          config_order: header, activity, languages, repositories, metadata
